body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    padding: 12px;
    text-align: center;
    border: 2px solid #333;
}

th {
    background-color: #fff;
   
}
td {
    background-color: #f9f9f9;
}

td.lunch {
    
    font-weight: bold;
}

td:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    table, th, td {
        font-size: 14px;
    }
}